:root {
  --clr-dark-blue: hsl(233, 26%, 24%);
  --clr-lime-green: hsl(136, 65%, 51%);
  --clr-bright-cyan: hsl(192, 70%, 51%);
  --clr-grayish-blue: hsl(233, 8%, 62%);
  --clr-light-grayish-blue: hsl(220, 16%, 96%);
  --clr-very-light-gray: hsl(0, 0%, 98%);
  --clr-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  color: var(--clr-grayish-blue);
  font-family: "Public Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1;
}

.container {
  width: 100%;
  max-width: 71.25rem;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

.container--px-0 {
  padding-inline: 0;
}

.grid {
  display: grid;
  gap: 1.875rem;
}

.heading-primary {
  color: var(--clr-dark-blue);
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 1.125rem;
}

.heading-secondary {
  color: var(--clr-dark-blue);
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--clr-dark-blue);
  background-color: transparent;
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
}

.btn--gradient:link,
.btn--gradient:visited {
  color: var(--clr-white);
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
}
