:root {
  --clr-dark-blue: hsl(233, 26%, 24%);
  --clr-lime-green: hsl(136, 65%, 51%);
  --clr-bright-cyan: hsl(192, 70%, 51%);
  --clr-grayish-blue: hsl(233, 8%, 62%);
  --clr-light-grayish-blue: hsl(220, 16%, 96%);
  --clr-very-light-gray: hsl(0, 0%, 98%);
  --clr-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  line-height: 1;
  color: var(--clr-grayish-blue);
  overflow-x: inherit;
}

.container {
  width: 100%;
  max-width: 71.25rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.875rem;
}

.grid--4-cols {
  grid-template-columns: auto;
}

.heading-primary,
.heading-secondary {
  font-weight: 300;
  color: var(--clr-dark-blue);
  line-height: 1.1;
}

.heading-primary {
  font-size: 2.25rem;
  margin-bottom: 1.125rem;
}

.heading-secondary {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-dark-blue);
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: capitalize;
  background-color: transparent;
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn--gradient:link,
.btn--gradient:visited {
  color: var(--clr-white);
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
}

.btn--gradient:link::before,
.btn--gradient:visited::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.btn--gradient:hover::before,
.btn--gradient:active::before {
  opacity: 1;
}

.text-center {
  text-align: center;
}
