.hero {
  background-color: var(--clr-very-light-gray);
}

.hero__image {
  position: relative;
  background-image: url(../images/bg-intro-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

.hero__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/image-mockups.png);
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.hero__text {
  text-align: center;
  padding-inline: 1.5rem;
  padding-block-start: 1.5rem;
  padding-block-end: 4.375rem;
}

.hero__description {
  line-height: 1.6;
  margin-bottom: 2.25rem;
}

.feature {
  background-color: var(--clr-light-grayish-blue);
  padding-block: 4.375rem;
}

.feature .container:nth-child(1) {
  text-align: center;
  margin-bottom: 3.5rem;
}

.feature__description {
  line-height: 1.6;
}

.feature__item {
  text-align: center;
}

.feature__icon {
  margin-bottom: 1.5rem;
}

.feature__title {
  color: var(--clr-dark-blue);
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 1.125rem;
}

.feature__text {
  line-height: 1.6;
}
